<app>
  <div class="app-header">
    <img src="https://riot.js.org/img/logo/riot-logo.svg" alt="Riot.js logo" class="logo">
  </div>

  <script>
    export default {
      onBeforeMount(props, state) {

      }
    }
  </script>
</app>
